*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body{
    overflow-x: hidden;
}

li{
    list-style: none;
}

header a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
}
 
/* background header */

header{
    position: relative;
    background-image: url(./background.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 100px;
}

/* navbar */

.navbar{
    width: 100vw;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 33px 36px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 33px 36px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 33px 36px -3px rgba(0,0,0,0.75);
    overflow: hidden;
    background-color: #0000000f;
}

.navbar .links {
    display: flex;
}

.navbar .toggle-btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.active{
   background-color: #ffffff82;
}

.active:hover{
    background-color: #ffffff82 !important; 
}

.toggle-btn{
    margin-right: 2rem;
}

.navbar .links li{
    padding: 1.7rem 1rem;
    transition: .3s;
}

.navbar .links li a{
    padding: 1.6rem 1.5rem;
}

.navbar .links li:hover{
    background-color: #ffffff53;
    cursor: pointer;
}

.navbar .logo{
    margin-left: 2rem;
}

/* dropdown menu */

.dropdown-menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open{
    height: 209px;
    margin-top: 10px;
}

.dropdown-menu li{
    padding: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.dropdown-menu li:hover{
    background-color: burlywood;
    cursor: pointer;
}

/* hero */

.hero-form{
    text-align: center;
    margin: 5rem 0;
    font-size: 3.5rem;
    text-transform: uppercase;
    color: #F9F5E7;
    background-color: #0000003e;
    -webkit-box-shadow: 0px 0px 48px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 48px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 48px 1px rgba(0,0,0,0.75);
}

.hero-items{
    display: flex;
    justify-content: space-between;
    padding: 3rem 8rem;
}

.hero-item-1,
.hero-item-2,
.hero-item-3{
    text-align: center;
    padding-bottom: 2.5rem;
    -webkit-box-shadow: 0px 0px 71px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 71px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 71px -5px rgba(0,0,0,0.75);
    width: 25%;
}

.hero-item-1{
    /* background-color: #F8EDE3; */
    background-color: #9b798588;
}

.hero-item-2{
    /* background-color: #DFD3C3; */
    background-color: rgba(194, 165, 174, 0.507);
}

.hero-item-3{
    /* background-color: #D0B8A8; */
    background-color: #cba0ae76;
}

.form-1 h3,
.form-2 h3,
.form-3 h3{
    color: #fff;
    text-transform: uppercase;
    font-size: 2.2rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
}

.form-1 .price,
.form-2 .price,
.form-3 .price{
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1.8rem;
    background-color: #B5D5C5;
}

span{
    margin-right: .7rem;
    font-size: 1.3rem;
}

.form-1 .list,
.form-2 .list,
.form-3 .list{
    color: #fff;
    font-size: 1.2rem;
    /* font-weight: bold; */
    margin: 1.5rem 0;
    padding: 0 2rem;
}

.form-1 .main-cta-btn,
.form-2 .main-cta-btn,
.form-3 .main-cta-btn{
    background-color: #D9ACF5;
    padding: 1rem 4rem;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 3rem;
    border: 3px solid #D9ACF5;
    transition: all .3s;
}

.form-1 .main-cta-btn:hover,
.form-2 .main-cta-btn:hover,
.form-3 .main-cta-btn:hover{
    background-color: transparent;
    -webkit-box-shadow: 0px 0px 61px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 61px -16px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 61px -16px rgba(0,0,0,0.75);
}

.last{
    margin-bottom: 3.5rem !important ;
}

/* responsive */

@media(max-width: 1000px){
    header{
        overflow-x: hidden;
    }
    
    .navbar .links{
        display: none;
    }

    .navbar .toggle-btn{
        display: block;
    }

    .dropdown-menu{
        display: block;
    }

    .dropdown-menu li{
        padding: 0;
    }

    .dropdown-menu a{
        padding: .69rem 7.1rem;
    }

    .hero-item-1,
    .hero-item-2,
    .hero-item-3{
        width: 30%;
    }

    .form-1 h3,
    .form-2 h3,
    .form-3 h3{
        font-size: 1.5rem;
    }

    .form-1 a,
    .form-2 a,
    .form-3 a{
        width: 100%;
        display: block;
        margin: 0 auto;
        font-size: .5rem;
        text-align: center;
        padding: 0;
    }

    .form-1 .main-cta-btn,
    .form-2 .main-cta-btn,
    .form-3 .main-cta-btn{
        padding: 1rem;
    }
    
    .hero-items{
        padding: 2rem 1rem;

    }
}

@media(max-width: 769px){

}

@media(max-width: 576px){
    body{
        overflow: auto;
    }

    header{
        padding-bottom: 50px;
    }
    
    .navbar{
        background-image: url(./background-1.jpg);
        background-size: cover;
    }
    
    .dropdown-menu{
        left: 2rem;
        width: unset;
    }

    .hero-items{
        flex-direction: column;
        padding: 0;
    }

    .hero-item-1,
    .hero-item-2,
    .hero-item-3{
        width: 90%;
        margin: 1rem auto;
    }

    .hero-form{
        font-size: 1.5rem;
    }
}

@media(max-width: 375px){

}

@media(max-width: 281px){
    .background .logo{
        transform: scale(.7);
    }
}